{mode, max}.
{duration, 5}.
{concurrent, 4}.

{driver, basho_bench_driver_leo_dcerl}.

{key_generator,   {int_to_str,{uniform_int, 100000}}}.
{value_generator, {fixed_bin, 65536}}.

{operations, [{get, 1}, {put, 1}]}.

{code_paths, ["deps/dcerl"]}.

{cache_capacity,   100000000}.
{cache_chunk_size, 1024768}.
{cache_data_dir, "/home/leofs/dev/basho_bench/work/d/"}.
{cache_journal_dir, "/home/leofs/dev/basho_bench/work/j/"}.
